
#mydiv{$mysecondcolor:pink;
h1{
    color: aquamarine;
    background: blue;
    font-style: oblique;
    font-size: 50px-25.9px;;
}
$mycolor:pink;
h2{
    background-color: $mycolor;
    font-size: 50px+20px;
}
